header {
    background-color: #eaeaea;
}

input {
    width: 100%;
    border: none;
    padding: 25px 50px;
    transition: .25s all cubic-bezier(.05,.77,.71,.85);
}

input, textarea::-webkit-input-placeholder {
    font-family: 'Cardo', 'Georgia', serif;
    font-size: 60px;
    color: #000;
    font-weight: 300;
    background-color: #f8f8f8;
}

input::-webkit-input-placeholder {
    color: #000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background: #000;
    color: #fff;
}

ul {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
ul > li {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 40px 50px;
}

li {
    font-family: 'Cardo', 'Georgia', serif;
    font-weight: 300;
    font-size: 60px;
    word-wrap: break-word;
}

p {
    font-family: 'Cardo', 'Georgia', serif;
    font-weight: 300;
    font-size: 14px;
    padding: 20px 50px;
    margin: 0;
}

.t--right { text-align: right; }
.f--left { float: left; }
.f--right { float: right; }